.container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.button {
    background-color: var(--primary);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}