@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  font-size: 16px;
}
:root {
  --primary: #24668A;
  --secondary: #236081;
  --third: #94A3A9;
}

.resetA {
  color: black;
  text-decoration: none;
}