.container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    background-color: var(--primary);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.profilePicture {
    width: 30px;
    height: 30px;
}

.name {
    display: flex;
    gap: 6px;
    text-transform: capitalize;
}