
.container {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0edf9;
}
.rectangle {
  width: 850px;
  height: auto;
  padding: 20px;
  background-color: #f0f8ff;
  box-shadow: 5px 5px 15px -1px rgb(33, 118, 160);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: center;
  align-items: center;
 
}

.header {
  position: absolute;
  top: 20px;
  left:20px;
}

.updateProfileSection {
  display: flex;
  gap: 75px;
  align-items: center;
  justify-content: center;
}

.pictureContainer {
  position: relative;
}

.picture {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -1px rgb(33, 118, 160);
}

.editPicture {
  position: absolute;
  bottom: 1px;
  right: -9px;
  padding: 5px;
  border-radius: 50%;
  background-color: #f0f8ff;
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
  cursor: pointer;
}

.editPicture:hover {
  transform: scale(1.1);
}

.label {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}