/* EditUserProfileHeader.module.css */

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 1);
    padding: 20px;
    height: 70vh;
  }
  
  .picture {
    width: 20rem;
    height: 20rem;
    margin-right: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  .info {
    flex: 1;
    padding-top: 10px;
    padding-right: 200px;
    margin-top: 30px;
  }
  
  
  .saveButton {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .saveButton:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      /* Remove height: auto; */
    }
  
    .picture {
      order: -1;
      width: 8rem;
      height: 8rem;
      margin-bottom: 10px;
      margin-left: 50px;
    }
  
    .info {
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }
  }
  