.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(240, 248, 255, 1);
  padding: 20px;
  height: 50vh;
}

.picture {
  width: 20rem;
  height: 20rem;
  margin-right: 50px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.info {
  flex: 1;
  padding-top: 10px;
  padding-right: 200px;
  margin-top: 10px  ;
}

.name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.username {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.bio {
  font-size: 16px;
  overflow-wrap: break-word;
}

.editProfile {
  position: absolute;
  bottom: 50px;
  right: 150px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.editText {
  color: rgb(0, 87, 255);
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
  margin-right: 10px;
  margin-bottom: 50px;
}

.editIcon {
  width: 15px;
  height: 15px;
  margin-bottom: 50px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* Remove height: auto; */
  }

  .picture {
    order: -1;
    width: 8rem;
    height: 8rem;
    margin-bottom: 10px;
    margin-left: 50px;
  }

  .info {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }

  .name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .username {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .bio {
    font-size: 14px;
  }

  .editProfile {
    position: static;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
