.input {
    padding: 0.5rem 1rem;
    margin-top: 4px;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid var(--secondary);
}

.input:focus {
    outline: none;
}

.title {
    font-weight: 550;
    margin-left: 2px;
    display: block;
}

.large {
    width: 300px;
}

.small {
    width: 150px;
}

.extraSmall {
    width: 50px;
}